<div class="wrapper">
  <h1 class="align-center">Stupid Coaching</h1>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <p><%= @answer %></p>
      <%= link_to 'ask a new question', 'http://localhost:3000/ask' %>
    </div>
  </div>
</div>

