<div class="wrapper">
  <h1 class="align-center">Stupid Coaching</h1>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <form action="/answer" method="get">
        <input class="form-control" type="text" name="question" placeholder="What is your question?">
        <button type="submit" class="btn btn-primary align-btn">Submit</button>
      </form>
    </div>
  </div>
</div>


